<div class="container">
  <h2>This library was built by the amazing developer Kit Bolourchi:</h2>

  <div class="technology-list">
    <div th:each="book : ${model.books}" class="Book">
      <b>Author</b>
      <img th:title="${book.author}" />
      <b>Title</b>
      <img th:title="${book.title}" />
      <b>Number of copies</b>
      <img th:title="${book.numberOfCopies}" />

      <a th:href="${'/books/delete-book?BookID=' + book.bookID}" class="delete-button">delete</a>
    </div>
  </div>

  <h2>Add a book:</h2>
  <form th:action="@{/books/add-books}" method="post">
    <div class="add-tech-row">
      <label>
        <span>Author: </span>
        <input type="text" name="Author">
      </label>
    </div>
    <div class="add-tech-row">
      <label>
        <span>Title: </span>
        <input type="text" name="Title">
      </label>
    </div>
    <div class="add-tech-row">
      <label>
        <span>ISBN Number: </span>
        <input type="text" name="ISBN">
      </label>
    </div>
    <div class="add-tech-row">
      <label>
        <span>Number of copies: </span>
        <input type="text" name="NumberOfCopies">
      </label>
    </div>
    <div class="add-tech-row">
      <span><!-- spacer --></span>
      <input type="submit" value="Add book" />
    </div>
  </form>
</div>

</body>


</html>